// Format: 26x18cm

@flyerWidth:   21cm;
@flyerHeight:  14.85cm;
@unitWidth: @flyerWidth / 24;
@unitHeight: @flyerHeight / 23;

@coul1: black;
@coul2: #ffe620;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}

@import "fontes/opensans/opensans-stylesheet.css";
@import "fontes/meyrin/Meyrin-stylesheet.css";

//  GLOBAL + GRILLE
body{
  font-family: 'OpenSans-Bold';
  margin: 10px;
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  .page, .content{
    // transform: rotate(-90deg);
    // top: 200px;
    position: absolute;
    width: @flyerWidth;
    height: @flyerHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .fold{
        width: 1px;
        height: @flyerHeight;
        background: red;
        position: absolute;
        left: @flyerWidth/2;
      }
      .grid{
        display: inline-flex;
        display: @hideGrid;
        flex-wrap: nowrap;
        box-sizing: border-box;
        position: absolute;
      }
      .gridRow{
        width: 100%;
        flex-direction: row;
        .row{
          width: 10cm;
          margin: 0;
          padding: 0;
          border-right: 1px solid blue;
          height: @flyerHeight;
        }
      }
      .gridCol{
        height: @flyerHeight;
        flex-direction: column;
        .col{
          height: 10cm;
          width: @flyerWidth;
          border-bottom: 1px solid blue;

        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

#contentRecto{
  font-size: 10pt;
  .filenames{
    font-family: 'meyrin';
    width: @flyerWidth - (@unitWidth * 2);
    column-count: 2;
    margin: @unitHeight @unitWidth;
    font-size: 7pt;
    height: @flyerHeight - (@unitHeight / 2);
    color: @coul1;
    // z-index: 1;
    position: relative;
    // display: none;
  }
  .image{
    position: absolute;
    width: @unitWidth * 12;
    // top: @unitWidth * 2;
    z-index: 0;
    bottom: @unitHeight * 4;
    margin-left: @unitWidth * 2;
  }
  .imageD{
    left: @flyerWidth /2;
  }
  .conversation{
    width: @flyerHeight;
    height: @flyerWidth;
    position: absolute;
    top: 0;
    left: 21cm;
    padding: (@unitWidth) @unitHeight;
    transform: rotate(90deg);
    transform-origin: top left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @coul1;
    font-size: 25pt;
    line-height: 1.45;
    color: @coul2;
    li{
      width: @unitHeight * 18;
      // margin-bottom: 0.2cm;
      img{
        // width: 1.6cm;
        width: @unitHeight * 4;
        // margin-top: 0.1cm;
        position: absolute;
        border: 1px solid @coul2;
        margin-right: @unitHeight;
        // background: white;
      }
      span{
        margin-left: @unitHeight * 5;
      }
    }
    li:nth-of-type(even){
      margin-left: @unitHeight * 3;
      text-align: right;
    }
  }
}

#contentVerso{
  .txt{
    font-size: 10.25pt;
    line-height: 1.15;
    width: (@flyerWidth / 2) - (@unitWidth * 2);
    height: (@flyerHeight) - (@unitHeight * 2);
    position: absolute;
    margin-left: @unitWidth;
    margin-top: @unitHeight;
    i{
      color: @coul1;
      font-family: 'meyrin';

    }

    p{
      width: @unitWidth * 8;
    }
    em{
      font-family: 'OpenSans-BoldItalic';
    }
  }
  .txtleft{
    p:nth-of-type(even){
      margin-left: @unitWidth * 2;
    }
  }
  .fond{
    width: 120%;
    float: left;
    position: absolute;
  }
  .txtright{
    left:  @flyerWidth / 2;
    p:nth-of-type(odd){
      margin-left: @unitWidth * 2; } 
  .colophon{

  font-family: 'meyrin';
  font-size: 7pt;
   

  }
  }
}
// FIN CONTENU

}

@media print{
  @page{
    size: A4 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
      transform: rotate(0deg);
      top: 0px;
    }
    .fold{
      background: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
