
/*OpenSans-ExtraBold*/
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('OpenSans-ExtraBold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-ExtraBold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
