
/*OpenSans-Italic*/
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('OpenSans-Italic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Italic.svg#OpenSans-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
